@font-face {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 400;
  src: local("Century Gothic"),
    url("/fonts/centurygothic.ttf") format("ttf"),
    url("/fonts/centurygothic_bold.ttf") format("ttf"),
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Century Gothic', sans-serif;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

html,
body {
  height: 100%;
  background-color: #000;
  scroll-behavior: smooth;
}

.container-wrapper {
  display: flex;
  justify-content: center;
  background-color: #000;
  height: 100vh;
}

.container {
  width: 1600px;
  position: relative;
}

a {
  text-decoration: none
}

img {
  max-width: 100%;
  height: auto;
}

header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
 
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 20px;
  margin-top: 20px;
}

.hero-about {
	padding-left: 70px;
	width: 350px;
	color: #000000;
}

.header-btn button {
  margin-left: 20px;
}

.hero-section {
  position: relative;
}

.hero-section img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.menu-item {
  padding: 10px;
  margin-right: 60px;
  text-decoration: none;
  font-size: 18px;
  color: #ff0000;
  transition: color 0.3s ease;
}

.menu-item {
  position: relative;
  text-decoration: none;
}

.menu-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: #000000;
}



.header-btn button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: #000;
  background-color: #fc0000;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header-btn button:hover {
  background-color: #aa3d3d;
}

.bg {
  background-image: url("images/logo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-color: black;
  width: 100%;
  height: 100vh;
  background-color: #181818;

}

.hero-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section img {
  display: block;
  margin: 0 auto;
}

.hero-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  flex: 1;
  color: #000000;
  padding: 0 50px;
  text-align: center;
}


.header-btn {
  display: flex;
  align-items: end;
  justify-content: flex-end;
  flex: 1;
}


.hero-line {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-line {
  display: flex;
  color: #ff0000;
  align-items: center;
}



.hero-tran {
  /* writing-mode: vertical-lr; */
  /* text-orientation: upright; */
  transform: rotate(-90deg);
  margin-right: 100px;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: #000;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #aa3d3d;
}

.hero-btn {
  margin-top: 15px;
}

.hero-btn>button {
  background-color: #aa3d3d;
  margin-right: 15px;
}

.hero-btn>button:hover {
  background-color: #000000;
}

.green-dot {
  font-size: 28px;
  color: #aa3d3d;
}

.tips-block {
  position: absolute;
  top: 180px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 1px solid white;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  color: #fff;
  z-index: 4;
}

.tips-block:hover {
  cursor: pointer;
  border: 1px solid #aa3d3d;
  transition: border 0.5s ease;
}

.hero-info {
  background-color: #181818;
  width: 100%;
  height: 170px;
  margin-top: -170px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: #fff 2px solid;
  border-top: #fff 2px solid;
  color: #fff;
  z-index: 100;
}

.content-tran {
  height: 350px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  text-align: justify;
}

.card {
  border: #aa3d3d 3px dashed;
  width: 800px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.card img {
  margin-right: 50px;
}

.card .imgr {
  margin-right: 0px;
  margin-left: 50px;
}

#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #3daa3d;
  border-radius: 50%;
  display: none;
}

#scroll-to-top.show {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
}

#scroll-to-top:hover {
  background-color: #fff;
}